$primary-blue: #286FEB;
$primary-green: #11A06B;
$bright-gray: #E8EDF4;
$dark-gray: #121418;
$secondary-purple: #5F43E9;
$secondary-red: #FF6161;

$paragraph-dark: #AAB4BB;
$heading-dark: #FFFFFF;

$paragraph-light: #666C70;
$heading-light: #35363A;

$gradient-header: linear-gradient(180deg, rgba(9,34,79,1) 0%, rgba(9,9,121,1) 50%, rgba(7,51,130,1) 100%);

// add a gradient that goes from primary-blue to primary-green (primary background), direction is bottom left to top right or left to right depending.
// add a gradient that goes from secondary purple to secondary red