html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}


/*
 * Everything below this line came from
 * https://piccalil.li/blog/a-more-modern-css-reset/
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin in favor of better control */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
