@use 'colors' as c;
@use 'media';

@font-face {
    font-display: block;
    font-family: 'Inter';
    font-style: normal;
    src:
        local('Inter'),
        url('/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

body {
  color: c.$paragraph-light;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;

  @include media.dark {
    color: c.$paragraph-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: c.$heading-light;
  line-height: 1.2;

  @include media.dark {
    color: c.$heading-dark;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

a {
  color: rgba(c.$primary-blue, 0.8);
  text-decoration: none;
  transition: color 0.1s ease-in;

  &:hover {
    color: rgba(c.$primary-blue, 1);
    text-decoration: underline;
  }
}
