@use 'colors' as c;

@font-face {
    font-display: block;
    font-family: 'Inter';
    font-style: normal;
    src:
        local('Inter'),
        url('/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

body {
  color: c.$dark-gray;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: c.$bright-gray;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
    body {
        color: c.$bright-gray;
    }
}

